{% extends 'base.html' %}
{% block title %}{{feedback.title}}'s feedback{% endblock %}
{% block content %}

<nav class="navbar navbar-light bg-primary justify-content-between ">
    <div class="container">
      <a href="/" class="navbar-brand text-light">Tweetur</a>
      <ul class="nav navbar-nav flex-row float-right">
        {% if session['user_id'] %}
        <li class="nav-item">
          <a class="nav-link pr-3 text-light" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link pr-3 text-light" href="/login">Login  </a>
        </li>
        <li class="nav-item nav-link pr-3 text-light"> &#9898; </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/register">  Sign up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="d-flex justify-content-center">

    <form method="POST">

      {{ form.hidden_tag() }}
    
      {% for field in form
        if field.widget.input_type != 'hidden' %}
      <p>
        {{ field.label }}
        {{ field(class_="form-control") }}
    
        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
      </p>
      {% endfor %}
    
      <button class="btn btn-success" type="submit">Update</button>
    
    </form>
  </div>
  


{%endblock%}